name: Main Workflow
on: [push]

env:
  GO111MODULE: "on"

jobs:
#  lint:
#    name: Lint
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Set up Go
#        uses: actions/setup-go@v2.1.3
#        with:
#          go-version: 1.18.0
#        id: go
#
#      - name: Checkout
#        uses: actions/checkout@v3
#
#      - name: Lint
#        uses: golangci/golangci-lint-action@v3
#        with:
#          version: latest
#          go_version: '1.18.0'

  test:
    name: Test
#    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2.1.3
        with:
          go-version: 1.18.0
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Get dependencies
        run: |
          go mod download

      - name: Test
        run: go test -v -race -coverprofile=coverage.out ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.out
          fail_ci_if_error: true

